@font-face {
  font-family: 'QiitaSymbolFont';
  src: url('fonts/QiitaSymbolFont.eot');
  src: url('fonts/QiitaSymbolFont.eot?#iefix') format('embedded-opentype'),
       url('fonts/QiitaSymbolFont.woff') format('woff'),
       url('fonts/QiitaSymbolFont.ttf') format('truetype'),
       url('fonts/QiitaSymbolFont.svg#QiitaSymbolFont') format('svg');
  src: url('fonts/QiitaSymbolFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Symbol variables

$qsf-logomark: '\e000';       // Logo mark (ex: favicon)
$qsf-kobitomark: '\e001';     // Kobito silhouette mark
$qsf-qiita-outline: '\e003';  // Outlined qiita logo
$qsf-qiita: '\e004';          // qiita logo
$qsf-team-outline: '\e005';   // Outlined team logo
$qsf-team: '\e006';           // team logo (':Team')
$qsf-team-large: '\e007';     // team logo ('Qiita:Team')
$qsf-kobito: '\e008';         // kobito logo with silhouette mark
$qsf-career: '\e009';         // Qiita:Career logo
$qsf-increments: '\e00f';     // Increments logo
